<form action="/cars/add" method="POST">
    Make
    <br />
    <input type="text" name="make" value="{{make}}"/>
    <br>
    Model
    <br />
    <input type="text" name="model" value="{{model}}" />
    <br>
    Year
    <br />
    <input type="number" name="year" value="{{year}}" />
    <br>
    Price Per Day
    <br />    
    <input type="number" name="pricePerDay" value="{{pricePerDay}}" />
    <br>
    Power
    <br />    
    <input type="number" name="power" value="{{power}}" />
    <br>
    Image
    <br />   
    <input type="url" name="image" accept="img/*" value="{{url}}" />
    <br>
    <input type="submit" value="Save" />
</form>